*:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --headFooterCol: #303030;
  --whiteCol: #ffffff;
  --blueCol: #03a6f2;
  --greyCol: #999999;
  --greyCol_2:#c0bebe;
  --greenCol: #00d664;
  --darkCol: #284a6f;
  --seaCol: #0099ff;
  --lineCol: #ececec;
  --blackCol: #000000;
  --margW: 0 7.5rem;
  --fontStyle: 'Open Sans', sans-serif;
  --_1secHight: 31.25rem;
  --shadow: 0px 3px 18px 0 rgba(0, 153, 255, 0.1);
}

* body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: var(--whiteCol);
}

* body .marginClass {
  margin: var(--margW);
}

* body .h1class {
  font-family: var(--fontStyle);
  font-size: 2.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: var(--darkCol);
}

* body .simpleTextClass {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: var(--greyCol);
}

* body .digitals {
  font-family: var(--fontStyle);
  font-size: 2.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.53;
  letter-spacing: normal;
  color: var(--seaCol);
}

* body .leftAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .shadowClass {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

* body ._7thSec_PClass {
  margin: 1.25rem 0;
  color: var(--blackCol);
}

* body .container {
  width: 87.5rem;
  overflow: hidden;
}

* body .container header nav {
  background-color: var(--headFooterCol);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
}

* body .container header nav .marginClass {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container header nav .marginClass a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--whiteCol);
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0.5rem;
}

* body .container header menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  height: 5rem;
}

* body .container header menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

* body .container header menu div p {
  display: inline-block;
  margin: 0 0 0 1rem;
  font-family: var(--fontStyle);
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: var(--blueCol);
}

* body .container header menu div p span {
  color: var(--greyCol);
}

* body .container header menu li {
  display: inline-block;
  font-family: var(--fontStyle);
  font-size: 0.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0099ff;
  text-transform: uppercase;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

* body .container header menu li:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: -12.5%;
  left: -12.5%;
  width: 125%;
  height: 125%;
  z-index: -1;
  border-radius: 1.4rem;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

* body .container header menu li:hover {
  color: var(--whiteCol);
}

* body .container header menu li:hover:after {
  background-color: var(--greenCol);
}

* body .container header ._1stSec {
  height: var(--_1secHight);
  background: url(img/Rectangle2.png) no-repeat right;
}

* body .container header ._1stSec ._1stSec-container {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #0099ff), to(transparent));
  background: linear-gradient(left, #0099ff 30%, transparent 100%);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap {
  height: var(--_1secHight);
  background: url(img/worldmap-dots.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card {
  width: 22rem;
  margin: var(--margW);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card ._1stSec_card_mainText {
  font-family: var(--fontStyle);
  font-size: 1.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card ._1stSec_card_mainText span {
  color: #284a6f;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .asking {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.81;
  letter-spacing: 0.64px;
  text-align: left;
  color: var(--darkCol);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.5rem;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .asking div:last-child {
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .arrowBut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  font-size: 1.75rem;
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .arrowBut i:last-child {
  margin-left: 1rem;
}

* body .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .container article ._2ndSec {
  margin-top: 5.5rem;
}

* body .container article ._2ndSec h1 {
  text-align: center;
}

* body .container article ._2ndSec ._2ndSecContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block {
  width: 17.5rem;
  text-align: center;
  margin-top: 5.5rem;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block .fa {
  font-size: 5rem;
  color: var(--seaCol);
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block h3 {
  font-family: var(--fontStyle);
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  color: var(--darkCol);
  text-align: center;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child {
  background-color: var(--darkCol);
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child div i {
  color: var(--whiteCol);
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child div p {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.94;
  letter-spacing: normal;
  text-align: center;
  color: var(--whiteCol);
}

* body .container article ._3rdSec {
  background-image: url(img/worldmap-dotsCopy2.png);
  margin-top: 9.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container article ._3rdSec ._3rdSec_InfoBlock {
  width: 30.5rem;
}

* body .container article ._3rdSec ._3rdSec_InfoBlock .digitals_block div:first-child {
  margin-right: 4rem;
}

* body .container article ._3rdSec ._3rdSec_InfoBlock .store_market {
  font-family: var(--fontStyle);
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.21;
  letter-spacing: 0.56px;
  color: var(--darkCol);
}

* body .container article ._3rdSec ._3rdSec_InfoBlock .store_market .fa {
  font-size: 2rem;
  vertical-align: sub;
}

* body .container article ._3rdSec ._3rdSec_InfoBlock .store_market div:first-child {
  margin-right: 4rem;
}

* body .container article ._3rdSec ._3rdSec_IMGBlock {
  position: relative;
  -webkit-transform: translateY(5%) scale(1.2);
          transform: translateY(5%) scale(1.2);
}

* body .container article ._4thSec {
  width: 100%;
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .container article ._4thSec ._4thSec_StatBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

* body .container article ._4thSec .veticalLine {
  width: 2px;
  height: 4.5rem;
  background-color: var(--lineCol);
}

* body .container article ._4thSec button {
  background-color: var(--greenCol);
  font-family: var(--fontStyle);
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--whiteCol);
  border-radius: 25px;
  border: 0;
  width: 12.5rem;
  height: 3.375rem;
  margin-top: 5.375rem;
}

* body .container article ._5thSec {
  text-align: center;
  margin-top: 5.5rem;
}

* body .container article ._5thSec h1 {
  margin-bottom: 5rem;
}

* body .container article ._5thSec iframe {
  width: 41.875rem;
  height: 27.875rem;
}

* body .container article ._5thSec div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container article ._5thSec div .simpleTextClass {
  width: 23rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 3.5rem;
}

* body .container article ._5thSec div .simpleTextClass p {
  display: inline;
  color: var(--greyCol_2);
  text-align: left;
}

* body .container article ._5thSec div .simpleTextClass p:last-child {
  font-style: italic;
  color: var(--blackCol);
}

* body .container article ._5thSec div .simpleTextClass p b {
  color: var(--blackCol);
}

* body .container article ._6thSec {
  background-image: url(img/worldmap-dots3.png);
  margin-top: 6.2rem;
  padding: 7.2rem 0;
  position: relative;
  width: 100%;
}

* body .container article ._6thSec .fa {
  font-size: 8rem;
  color: var(--seaCol);
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

* body .container article ._6thSec .fa:last-child {
  top: 60%;
  left: 90%;
}

* body .container article ._6thSec .owl-carousel {
  z-index: 1;
}

* body .container article ._6thSec .owl-carousel .owl-stage-outer {
  overflow: visible;
}

* body .container article ._6thSec .owl-carousel .owl-stage-outer .item .card {
  width: 29.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding: 1.6rem 3.2rem 0 3.2rem;
  background-color: var(--whiteCol);
  position: relative;
}

* body .container article ._6thSec .owl-carousel .owl-stage-outer .item .card .card-img-top {
  width: 5.75rem;
  height: 5.75rem;
  position: absolute;
  top: -25%;
}

* body .container article ._6thSec .owl-carousel .owl-stage-outer .item .card .card-body {
  text-align: center;
}

* body .container article ._6thSec .owl-carousel .owl-stage-outer .item .card .card-body h5 {
  color: var(--blackCol);
  font-weight: bold;
}

* body .container article ._7thSec {
  text-align: center;
  margin-top: 5.5rem;
}

* body .container article ._7thSec ._7thSec_Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  color: var(--blackCol);
  margin-top: 5rem;
  text-align: left;
}

* body .container article ._7thSec ._7thSec_Container img {
  width: 100%;
}

* body .container article ._7thSec ._7thSec_Container h5 {
  color: var(--blackCol);
  font-weight: bold;
}

* body .container article ._7thSec ._7thSec_Container ._7thSec_MainBlock {
  width: 55%;
}

* body .container article ._7thSec ._7thSec_Container ._7thSec_MainBlock ._7thSec_MainBlock_Container {
  margin: 4rem 2.2rem 0 2.2rem;
}

* body .container article ._7thSec ._7thSec_Container ._7thSec_NotmainBlock {
  width: 40%;
}

* body .container article ._7thSec ._7thSec_Container ._7thSec_NotmainBlock ._7thSec_NotmainBlock_Container {
  margin: 2.3rem 2.2rem 0 2.2rem;
  padding-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */