* {
    &:root {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        

        //***  variables  ***
        --headFooterCol: #303030;
        --whiteCol: #ffffff;
        --blueCol: #03a6f2;
        --greyCol: #999999;
        --greyCol_2:#c0bebe;
        --greenCol: #00d664;
        --darkCol: #284a6f;
        --seaCol: #0099ff;
        --lineCol: #ececec;
        --blackCol: #000000;
        --margW: 0 7.5rem;
        --fontStyle: 'Open Sans', sans-serif;
        --_1secHight: 31.25rem;
    }

    body {
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background: var(--whiteCol);

        .marginClass {
            margin: var(--margW);
        }

        .h1class {
            font-family: var(--fontStyle);
            font-size: 2.8rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.04;
            letter-spacing: normal;
            color: var(--darkCol);
        }

        .simpleTextClass {
            font-family: var(--fontStyle);
            font-size: 1rem;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: var(--greyCol);
        }

        .digitals {
            font-family: var(--fontStyle);
            font-size: 2.8rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.53;
            letter-spacing: normal;
            color: var(--seaCol);
        }

        .leftAlign {
            display: flex;
            justify-content: left;
            align-items: center;
        }

        .container {
            width: 87.5rem;

            header {
                nav {
                    background-color: var(--headFooterCol);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 3.5rem;
    
                    div {

                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: var(--whiteCol);
                            font-family: var(--fontStyle);
                            font-size: 1rem;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            text-align: center;
                            margin: 0 0.5rem;
                        }

                    }
                }

                menu {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: nowrap;
                    padding-inline-start: 0;
                    height: 5rem;
                    
                    div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: nowrap;

                        p {
                            display: inline-block;
                            margin: 0 0 0 1rem;
                            font-family: var(--fontStyle);
                            font-size: 2rem;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            color: var(--blueCol);

                            span {
                                color: var(--greyCol);
                            }
                        }
                    }

                    li {
                        display: inline-block;
                        font-family: var(--fontStyle);
                        font-size: 0.75rem;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: left;
                        color: #0099ff;
                        text-transform: uppercase;
                        position: relative;

                        transition-property: color;
                        transition-duration: 0.5s;

                        &:after {
                            content: '';
                                width: 100%;
                                height: 100%;
                                background-color: transparent;
                                position: absolute;
                                top: -0.75rem;
                                left: -1.5rem;
                                z-index: -1;
                                padding: 0.75rem 1.5rem;
                                border-radius: 22.5px;
                                transition-property: background-color;
                                transition-duration: 3s;
                        }

                        &:hover {
                            color: var(--whiteCol);

                            &:after {
                                background-color: var(--greenCol);
                            }
                        }
                    }
                }

                ._1stSec {
                    height: var(--_1secHight);
                    background: url(img/Rectangle2.png) no-repeat right;
                    
                    ._1stSec-container {
                        background: linear-gradient(left, #0099ff 30%, transparent 100%);

                        .worldDotMap {
                            height: var(--_1secHight);
                            background: url(img/worldmap-dots.png);
                            display: flex;
                            justify-content: left;
                            align-items: center;

                            ._1stSec_card {
                                width: 22rem;
                                margin: var(--margW);

                                ._1stSec_card_mainText {
                                    font-family: var(--fontStyle);
                                    font-size: 1.75rem;
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: normal;
                                    text-align: left;
                                    color: var(--whiteCol);

                                    span {
                                        color: #284a6f;
                                    }
                                }

                                .asking {
                                    font-family: var(--fontStyle);
                                    font-size: 1rem;
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 2.81;
                                    letter-spacing: 0.64px;
                                    text-align: left;
                                    color: var(--darkCol);
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-top: 3.5rem;

                                    div:last-child {
                                        color: var(--whiteCol);
                                    }
                                }
                                
                                .arrowBut {
                                    display: flex;
                                    justify-content: left;
                                    align-items: center;
                                    margin-top: 3rem;
                                    font-size: 1.75rem;
                                    color: var(--whiteCol);

                                    i:last-child {
                                        margin-left: 1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            article {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                ._2ndSec {
                    h1 {
                        text-align: center;
                    }

                    ._2ndSecContainer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        ._2ndSecContainer_Block {
                            width: 17.5rem;
                            text-align: center;
                            margin-top: 5.5rem;

                            .fa {
                                font-size: 5rem;
                                color: var(--seaCol);
                            }
    
                            h3 {
                                font-family: var(--fontStyle);
                                font-size: 1.5rem;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.96;
                                letter-spacing: normal;
                                color: var(--darkCol);
                                text-align: center;
                            }

                            &:last-child {
                                background-color: var(--darkCol);
                                height: 17.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                div {

                                    i {
                                        color: var(--whiteCol);
                                    }
    
                                    p {
                                        font-family: var(--fontStyle);
                                        font-size: 1rem;
                                        font-weight: 600;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 2.94;
                                        letter-spacing: normal;
                                        text-align: center;
                                        color: var(--whiteCol);
                                    }
                                }
                            }
                        }
                    }
                }

                ._3rdSec {
                    background-image: url(img/worldmap-dotsCopy2.png);
                    margin-top: 9.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    ._3rdSec_InfoBlock {
                        width: 30.5rem;

                        .digitals_block {

                            div:first-child {
                                margin-right: 4rem;
                            }
                        }

                        .store_market {
                            font-family: var(--fontStyle);
                            font-size: 0.875rem;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 3.21;
                            letter-spacing: 0.56px;
                            color: var(--darkCol);

                            .fa {
                                font-size: 2rem;
                                vertical-align: sub;
                            }

                            div:first-child {
                                margin-right: 4rem;
                            }
                        }
                    }

                    ._3rdSec_IMGBlock {
                        position: relative;
                        transform: translateY(5%) scale(1.2);
                    }
                }

                ._4thSec {
                    width: 100%;
                    margin-top: 7.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    ._4thSec_StatBlock {
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: row;
                        text-align: center;
                    }

                    .veticalLine {
                        width: 2px;
                        height: 4.5rem;
                        background-color: var(--lineCol);
                    }

                    button {
                        background-color: var(--greenCol);
                        font-family: var(--fontStyle);
                        font-size: 0.875rem;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: var(--whiteCol);
                        border-radius: 25px;
                        border: 0;
                        width: 12.5rem;
                        height: 3.375rem;
                        margin-top: 5.375rem;
                    }
                }

                ._5thSec {
                    text-align: center;

                    iframe {
                        width: 41.875rem;
                        height: 27.875rem;
                    }
                    
                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .simpleTextClass {
                            width: 23rem;
                            flex-direction: column;
                            align-items: flex-start;
                            margin-left: 3.5rem;

                            p {
                                display: inline;
                                color: var(--greyCol_2);
                                text-align: left;

                                &:last-child {
                                    font-style: italic;
                                    color: var(--blackCol);
                                }

                                b {
                                    color: var(--blackCol);
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}