*:root {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --headFooterCol: #303030;
  --whiteCol: #ffffff;
  --blueCol: #03a6f2;
  --greyCol: #999999;
  --greenCol: #00d664;
  --darkCol: #284a6f;
  --seaCol: #0099ff;
  --margW: 0 7.5rem;
  --fontStyle: 'Open Sans', sans-serif;
  --_1secHight: 31.25rem;
}

* body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: var(--whiteCol);
}

* body .marginClass {
  margin: var(--margW);
}

* body .container {
  width: 87.5rem;
}

* body .container header nav {
  background-color: var(--headFooterCol);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.5rem;
}

* body .container header nav div a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--whiteCol);
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin: 0 0.5rem;
}

* body .container header menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  height: 5rem;
}

* body .container header menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

* body .container header menu div p {
  display: inline-block;
  margin: 0 0 0 1rem;
  font-family: var(--fontStyle);
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: var(--blueCol);
}

* body .container header menu div p span {
  color: var(--greyCol);
}

* body .container header menu li {
  display: inline-block;
  font-family: var(--fontStyle);
  font-size: 0.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0099ff;
  text-transform: uppercase;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

* body .container header menu li:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  top: -0.75rem;
  left: -1.5rem;
  z-index: -1;
  padding: 0.75rem 1.5rem;
  border-radius: 22.5px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

* body .container header menu li:hover {
  color: var(--whiteCol);
}

* body .container header menu li:hover:after {
  background-color: var(--greenCol);
}

* body .container header ._1stSec {
  height: var(--_1secHight);
  background: url(img/Rectangle2.png) no-repeat right;
}

* body .container header ._1stSec ._1stSec-container {
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #0099ff), to(transparent));
  background: linear-gradient(left, #0099ff 30%, transparent 100%);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap {
  height: var(--_1secHight);
  background: url(img/worldmap-dots.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card {
  width: 22rem;
  margin: var(--margW);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card ._1stSec_card_mainText {
  font-family: var(--fontStyle);
  font-size: 1.75rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card ._1stSec_card_mainText span {
  color: #284a6f;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .asking {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.81;
  letter-spacing: 0.64px;
  text-align: left;
  color: var(--darkCol);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.5rem;
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .asking div:last-child {
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .arrowBut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  font-size: 1.75rem;
  color: var(--whiteCol);
}

* body .container header ._1stSec ._1stSec-container .worldDotMap ._1stSec_card .arrowBut i:last-child {
  margin-left: 1rem;
}

* body .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* body .container article ._2ndSec h1 {
  text-align: center;
  font-family: var(--fontStyle);
  font-size: 2.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.04;
  letter-spacing: normal;
  color: var(--darkCol);
}

* body .container article ._2ndSec ._2ndSecContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block {
  width: 17.5rem;
  text-align: center;
  margin-top: 5.5rem;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block .fa {
  font-size: 5rem;
  color: var(--seaCol);
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block h3 {
  font-family: var(--fontStyle);
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.96;
  letter-spacing: normal;
  color: var(--darkCol);
  text-align: center;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block p {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--greyCol);
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child {
  background-color: var(--darkCol);
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child div i {
  color: var(--whiteCol);
}

* body .container article ._2ndSec ._2ndSecContainer ._2ndSecContainer_Block:last-child div p {
  font-family: var(--fontStyle);
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.94;
  letter-spacing: normal;
  text-align: center;
  color: var(--whiteCol);
}
/*# sourceMappingURL=style.css.map */